#contenedor-productos {
    width: 50%; /* El div ocupará el 50% del ancho de la pantalla */
    height: 276px; /* El div ocupará toda la altura disponible */
    background-color: lightgray; /* Color de fondo para visualización */
    margin: 0 auto; /* Centrar el div horizontalmente */
    /* Si deseas centrar verticalmente también, puedes usar flexbox o grid */
     /*display: flex; 
     align-items: center; 
     justify-content: center; */
}
#contenedor-clientes {
    width: 50%; /* El div ocupará el 50% del ancho de la pantalla */
    height: 100%; /* El div ocupará toda la altura disponible */
    background-color: lightgray; /* Color de fondo para visualización */
    margin: 0 auto; /* Centrar el div horizontalmente */
    /* Si deseas centrar verticalmente también, puedes usar flexbox o grid */
    /*display: flex; 
     align-items: center; 
     justify-content: center; */
}
.h1 {
    font-size: 2em; /* Tamaño de la fuente */
    color: #333; /* Color del texto */
    font-weight: bold; /* Grosor de la fuente */
    text-align: center; /* Alineación del texto */
    margin-bottom: 20px; /* Margen inferior */
}
.error {
    color: red;
}

#contenedor-detalles {
    width: 50%; /* El div ocupará el 50% del ancho de la pantalla */
    height: 100%; /* El div ocupará toda la altura disponible */
    background-color: lightgray; /* Color de fondo para visualización */
    margin: 0 auto; /* Centrar el div horizontalmente */
    /* Si deseas centrar verticalmente también, puedes usar flexbox o grid */
    /*display: flex; 
     align-items: center; 
     justify-content: center; */
}