body {
}
.h1 {
    font-size: 2em; /* Tamaño de la fuente */
    color: #333; /* Color del texto */
    font-weight: bold; /* Grosor de la fuente */
    text-align: center; /* Alineación del texto */
    margin-bottom: 20px; /* Margen inferior */
}
.h3 {
    font-size: 1.5em; /* Tamaño de la fuente */
    color: #333; /* Color del texto */

    text-align: center; /* Alineación del texto */
    margin-bottom: 10px; /* Margen inferior */
    margin-left: 50px;
}